body {
    margin: 0;
    line-height: normal;
    font-family: 'PP Neue Montreal Mono', monospace;
    overflow-x: hidden;
    position: relative;
  }

  p {
    margin: 0;
    line-height: normal;
    font-family: 'Neue Montreal' sans-serif;
    overflow-x: hidden;
    position: relative;
    font-weight: 400;
    font-style: #424242;
  }
  
  .homepage-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #cbcbc4 17.11%, #ffffff 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
  }
  
  .intro-text {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Neue Montreal', sans-serif;
    color: #353535;
    max-width: 650px;
    text-shadow: 0px 2px 6.2px rgba(0, 0, 0, 0.3);
  }
  
  .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(30px);
  }
  
  .se-balader {
    font-family: 'PP Neue Montreal Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none; /* Pour enlever le soulignement */
    color: inherit; /* Pour garder la couleur du texte */
    display: inline-block;
    text-align: center;
  }
  
  .se-balader:hover {
    background-color: rgba(217, 255, 2, 0.8);
  }
  
  .bottom-video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    pointer-events: none;
  }
  
  .bottom-video img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  
  
