body {
    margin: 0;
    line-height: normal;
    font-family: 'PP Neue Montreal Mono', monospace;
    overflow-x: hidden;
    position: relative;
  }
  
  .homepage-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #cbcbc4 17.11%, #ffffff 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
  
  }

  .intro-text {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Neue Montreal', sans-serif;
    color: #353535;
    max-width: 650px;
    text-shadow: 0px 2px 6.2px rgba(0, 0, 0, 0.3);
  }
  
  .back-link {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Neue Montreal', sans-serif;
    color: #353535;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  
  .back-link .hover-text {
    display: none;
  }
  
  .back-link:hover .default-text {
    display: none;
  }
  
  .back-link:hover .hover-text {
    display: inline;
  }


      .decorative-plus {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'PP Neue Montreal Mono', monospace;
        font-size: 15px;
        color: #353535;
        pointer-events: none;
      }
  

/* LISTE */

.artist-list {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .artist-section {
    border-top: 1px solid #999;
    padding-top: 05px;
  }
  
  .artist-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    padding: 4px 0;
    transition: color 0.2s ease;
  }
  
  .artist-header:hover {
    color: rgba(217, 255, 2, 1);
  }
  
  .artist-name {
    text-align: left;
  }
  
  .artist-contact {
    text-align: right;
  }
  
  /* Galerie déroulante */
  .artist-gallery {
    display: none;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    transition: all 0.3s ease;
    height: auto;
    overflow: hidden;
    overflow-x: auto;       /* active le scroll horizontal */
    overflow-y: hidden;     /* empêche le scroll vertical inutile */
    scroll-behavior: smooth; /* défilement fluide */
    padding-bottom: 10px; 
  }

  .artist-gallery figure {
    width: calc(20% - 8px); /* 5 figures par ligne */
    margin: 0;
    text-align: left;
  }
  
  .artist-gallery img {
    width: 100%; /* L'image prend toute la largeur du figure */
  height: auto;
  max-height: 120px;
  object-fit: cover;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

  .artist-gallery figcaption {
    font-size: 10px;
    color: #555;
    margin-top: 4px;
    font-family: 'Neue Montreal', sans-serif;
  }
  
 
  
 
  
  
  

